*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(form-background.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 100vh;
    width: 100vw; */
}

.container{
    display: flex;
}

.background-area{
    width: 35vw;
    height: 100vh;
}

.form-area{
    width: 65vw;
    background-color: #fafafa;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.form-area > div{
    width: 100%;
    padding-left: 1.5rem;
}


/* Form Header Text */

.header-text{
    margin-bottom: 2rem;
    opacity: 0.9;
}

.header-text p{
    font-size: 1rem;
    font-weight: bold;
}

.header-text p:first-child{
    margin-bottom: 1rem;
}



/* Form Elements */

.form{
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1.25rem;
    box-shadow: 0 3px 9px rgb(199, 199, 199);
}

form legend{
    font-size: 1.125rem;
    font-weight: bold;
    opacity: 0.75;
    margin-bottom: 0.75rem;
}

form label{
    font-size: 0.75rem;
    letter-spacing: 2.5;
    opacity: 0.9;
}

form input{
    padding: 0.25rem;
}

.form-wrapper{
    display: flex;
    width: 75%;
    justify-content: flex-start;
    /* gap: 5rem; */
}

.form-wrapper > div{
    width: 60%;
}

.form-wrapper input{
    width: 80%;
}


/* Last Section */

.last-section{
    padding-top: 1.25rem;
}

.last-section button{
    background-color: rgb(55, 104, 55);
    color: #eee;
    padding: 0.5rem 2.5rem;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0.25rem;
    border: none;
    margin-bottom: 1.5rem;
}

.last-section span{
    color:rgb(55, 104, 55);
    font-weight: bold;
}

.last-section p{
    font-size: 16px;
}